.counter__container {
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #aaa;
  text-align: center;
  padding-bottom: 15px;
}

.counter__controllers {
  padding: 10px;
}

.counter__controllers > button {
  margin-right: 10px;
  padding: 5px 10px;
}


.counter__child {
  padding: 5px 0;
  margin: 0 15px;
  border: 1px solid #aaa;
}